.banner-area{
    background-image: url('https://i.ibb.co/W5bJ0P3/bannerbackground.png');
      width: 100%;
      height: 500px;
      background-position: center center;
      background-size: cover;
    }
    .content{
        padding: 160px 0;
    }