@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
#root{
  min-height: 100vh;
}
.body{
/*   background-color:#D1E8B6; */
  background-image:url('./images/farmer.jpg');
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}


.nav-bar{
  font-family: 'Montserrat', sans-serif;
  color:white;
}


#card{
  background-color:#D1E8B6;
}




.card-below-text{
  font-family: 'Poppins', sans-serif;
  color:#000000;
  text-align:justify;
}


.home-shop-button{
  background-color:#6F891B !important;
}


#card-left-bottom{
  background-color:#D1E8B6;
  border-radius: 20px;
    box-shadow : 0 5px 10px rgba(0,0,0,0.1);
  border:none;
}


#long-card-title{
  text-align:center;
  font-family: 'Alkatra', cursive;
  color:#353826;
}


#responsive-navbar-nav{
  
}




.card-text{
  text-align:justify;
}

::-webkit-scrollbar {
    display: none;
}


/* .box{
  color:white !important;
  border:"none" !important;
} */




